/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# reporting folders
/reports

# rspec failure tracking
.rspec_status

# JetBrains IDE metadata folders
/.idea

# Mac metadata directories
.DS_Store

Gemfile.lock
