<% # Can't use 'require_relative' because it won't work on JRuby inside of an ERB file %>
<% require "#{__dir__}/cuke_linter_project_settings" %>

<% # Assume that a test process is using this file unless otherwise specified (that way it works with just `bundle exec rspec`) %>
<% ENV['CUKE_LINTER_TEST_PROCESS'] ||= 'true' %>

--tag ~@wip
--format RSpec::Core::Formatters::JsonFormatter --out <%= ENV['CUKE_LINTER_RSPEC_REPORT_JSON_FILE_PATH'] %>

<% # No need for most stuff if it's not a real test run (e.g. when it's just gathering specs) %>
<% if ENV['CUKE_LINTER_TEST_PROCESS'] == 'true' %>
-r ./environments/rspec_env.rb
--format html --out <%= ENV['CUKE_LINTER_RSPEC_REPORT_HTML_FILE_PATH'] %>
--format progress
--force-color
<% end %>

<% # It is assumed that a specific file will be fed to RSpec when running in parallel %>
<% if ENV['CUKE_LINTER_PARALLEL_RUN'] == 'false' %>
--pattern "testing/rspec/spec/**/*_spec.rb"
<% end %>
