name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'  # Monthly

jobs:

  test_ubuntu:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby-version: ['2.1', '2.2', '2.3', '2.5', '2.7', '3.0', 'jruby-9.1.17.0']
        gemfile: [ cuke_modeler1, cuke_modeler2, cuke_modeler3 ]
        exclude:
          # CukeModeler 3.x requires at least Ruby 2.3
          - {gemfile: cuke_modeler3, ruby-version: '2.1'}
          - {gemfile: cuke_modeler3, ruby-version: '2.2'}

          # CukeModeler 1.x and 2.x do not support beyond Ruby 2
          - {gemfile: cuke_modeler1, ruby-version: '3.0'}
          - {gemfile: cuke_modeler2, ruby-version: '3.0'}

          # These JRuby versions are not available on the newer Ubuntu images. See included replacement jobs.
          - {os: ubuntu-latest, ruby-version: jruby-9.1.17.0}

#        include:
          # Replacements for the older JRuby jobs
          # Note: Failing due to some JRuby bug or other. Not going to worry about it, because
          # Ruby 2.x support will be dropped soon.
#          - {os: ubuntu-22.04, ruby-version: jruby-9.1.17.0, gemfile: cuke_modeler1}
#          - {os: ubuntu-22.04, ruby-version: jruby-9.1.17.0, gemfile: cuke_modeler2}
#          - {os: ubuntu-22.04, ruby-version: jruby-9.1.17.0, gemfile: cuke_modeler3}

    runs-on: ${{ matrix.os }}
    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: testing/gemfiles/${{ matrix.gemfile }}.gemfile
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run CI Rake task
        run: bundle exec rake cuke_linter:test_everything
      - name: Push code coverage to Coveralls (conditional)
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          path-to-lcov: "./reports/coverage/lcov/lcov.info"
          parallel: true
          flag-name: run-${{ matrix.os }}-${{ matrix.ruby-version }}-${{ matrix.gemfile }}

  test_macos:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
        ruby-version: ['2.1', '2.2', '2.3', '2.5', '2.7', '3.0', 'jruby-9.1.17.0']
        gemfile: [ cuke_modeler1, cuke_modeler2, cuke_modeler3 ]
        exclude:
          # Older versions of Ruby (<2.6) can't handle ARM, so they can't run on
          # the latest macOS (see included replacement jobs)
          - {os: macos-latest, ruby-version: '2.1'}
          - {os: macos-latest, ruby-version: '2.2'}
          - {os: macos-latest, ruby-version: '2.3'}
          - {os: macos-latest, ruby-version: '2.5'}

          # CukeModeler 3.x requires at least Ruby 2.3
          - {gemfile: cuke_modeler3, ruby-version: '2.1'}
          - {gemfile: cuke_modeler3, ruby-version: '2.2'}

          # CukeModeler 1.x and 2.x do not support beyond Ruby 2
          - {gemfile: cuke_modeler1, ruby-version: '3.0'}
          - {gemfile: cuke_modeler2, ruby-version: '3.0'}

          # These JRuby versions are not available on any of the currently available macOS images. Leaving it in
          # the build matrix for reference until the gem drops support for those versions of JRuby.
          - os: macos-latest
            ruby-version: jruby-9.1.17.0

        include:
          # Replacements for the non-ARM-capable jobs
          - {os: macos-15-intel, ruby-version: '2.1', gemfile: cuke_modeler1}
          - {os: macos-15-intel, ruby-version: '2.1', gemfile: cuke_modeler2}

          - {os: macos-15-intel, ruby-version: '2.2', gemfile: cuke_modeler1}
          - {os: macos-15-intel, ruby-version: '2.2', gemfile: cuke_modeler2}

          - {os: macos-15-intel, ruby-version: '2.3', gemfile: cuke_modeler1}
          - {os: macos-15-intel, ruby-version: '2.3', gemfile: cuke_modeler2}
          - {os: macos-15-intel, ruby-version: '2.3', gemfile: cuke_modeler3}

          - {os: macos-15-intel, ruby-version: '2.5', gemfile: cuke_modeler1}
          - {os: macos-15-intel, ruby-version: '2.5', gemfile: cuke_modeler2}
          - {os: macos-15-intel, ruby-version: '2.5', gemfile: cuke_modeler3}

    runs-on: ${{ matrix.os }}
    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: testing/gemfiles/${{ matrix.gemfile }}.gemfile
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run CI Rake task
        run: bundle exec rake cuke_linter:test_everything
      - name: Push code coverage to Coveralls (conditional)
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          path-to-lcov: "./reports/coverage/lcov/lcov.info"
          parallel: true
          flag-name: run-${{ matrix.os }}-${{ matrix.ruby-version }}-${{ matrix.gemfile }}

  test_windows:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        ruby-version: ['2.1', '2.2', '2.3', '2.5', '2.7', '3.0', 'jruby-9.1.17.0']
        gemfile: [ cuke_modeler1, cuke_modeler2, cuke_modeler3 ]
        exclude:
          # CukeModeler 3.x requires at least Ruby 2.3
          - {gemfile: cuke_modeler3, ruby-version: '2.1'}
          - {gemfile: cuke_modeler3, ruby-version: '2.2'}

          # CukeModeler 1.x and 2.x do not support beyond Ruby 2
          - {gemfile: cuke_modeler1, ruby-version: '3.0'}
          - {gemfile: cuke_modeler2, ruby-version: '3.0'}


          # Just not worth it to get these working and no additional and meaningful proof is provided by these
          # combinations, given the other combinations that are being tested.

          # Problems building ChildProcess native extensions during gem installation
          - {os: windows-latest, ruby-version: '2.1'}
          - {os: windows-latest, ruby-version: '2.2'}

          # Problems building FFI native extensions during gem installation
          - {os: windows-latest, ruby-version: '2.3'}

          # Random JRuby bugs
          - {os: windows-latest, ruby-version: 'jruby-9.1.17.0'}

    runs-on: ${{ matrix.os }}
    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: testing/gemfiles/${{ matrix.gemfile }}.gemfile
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run CI Rake task
        run: bundle exec rake cuke_linter:test_everything
      - name: Push code coverage to Coveralls (conditional)
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          path-to-lcov: "./reports/coverage/lcov/lcov.info"
          parallel: true
          flag-name: run-${{ matrix.os }}-${{ matrix.ruby-version }}-${{ matrix.gemfile }}

  test_finish:
    needs: [ test_ubuntu, test_macos, test_windows ]
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true

  check_documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - run: bundle exec rake cuke_linter:check_documentation

  lint_code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - run: bundle exec rake cuke_linter:rubocop
